<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ wp_title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/favicon-16x16.png">
    <link rel="manifest" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/site.webmanifest">
    <link rel="mask-icon" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="https://www.jaimeson-waugh.com/wp-content/themes/jaimeson/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {{ wp_head }}
</head>
<body>
    <div class="not-footer">
        {% include "partials/header.html.twig" %}
        <main>
            {% block body %}{% endblock %}
        </main>
    </div>
    {% include "partials/footer.html.twig" %}
    {{ wp_footer }}
</body>
</html>